[{:genegraph.framework.event/key
  "60851695-c70f-4f1a-9e00-b8bf580b9de8-2021-11-11T21:59:58.233Z",
  :genegraph.framework.event/offset 3633
  :reason "SOP 7+ evidence structure with old evidence lines."}]
